.structure_login{
	display: flex;
	align-items: center;
	min-height: 250px;
	margin-top: 10px;
}

.text_login{
	height: 700px;
	display: flex;
    align-items: center;
}


.form-control{
	background-color: rgba(9, 9, 9, 0.587);
	color: white;
	border: 1px solid rgb(33, 44, 33);
}

.form-control:focus{
	background-color: rgba(208, 40, 40, 0.035);
	color: white;
}