<!-- 
<div style="margin-left: 50px">
    <input type="text" [(ngModel)]="requestLogin.username">
    <input type="password" [(ngModel)]="requestLogin.password">
    <button type="button" (click)="doLogin()">login</button>
</div>

<div style="margin-left: 50px">
   
    <button type="button" (click)="testApi()">testApi</button>
</div> -->




<div class="container-fluid" style="border:1px solid red">
    
    <div class="row">

         <div class="col-xl-6 text_login">
    
            <div class="row">
                
                <div class="col-xl-8 ml-2">
                    <h2>faça o login ou cadastre-se</h2>
                    <p>is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>

                </div>
            
                <div class="structure_login ml-2 col- col-xl-5 col-sm-6">
                    <form>
                        <label for="login">Login</label>
                        <input type="text" [(ngModel)]="requestLogin.username" class="form-control" name="username"><br>
                        <label for="senha">Senha</label>
                        <input type="password" [(ngModel)]="requestLogin.password" class="form-control" name="password"><br>
                        <button type="button" (click)="doLogin()" class="btn btn-dark">login</button>                 
                        <button type="button" class="btn btn-dark ml-3" routerLink="/create/user">cadastrar</button>
                    </form>
                </div>

              </div>
        </div>

    </div>
</div>