<div class="container livro">

    <!--criamos views livro read é um pouco do template
        criamos o json do livro
        criamos os cards dos livros agora é fazer a conexao com a api
    -->
    <div class="livro-card" *ngFor="let livro of livro">

        <img src="assets/img/livro.png" alt="" class="img-livro">
        <h3>{{ livro.titulo }}</h3>

        <div class="buttons">
            <button type="button" class="btn btn-warning">editar</button>
            <button type="button" class="btn btn-danger">remover</button>
            <button type="button" class="btn btn-primary">emprestar</button>
        </div>
    </div>
    
        <!-- <div class="livro-card">

            <img src="assets/img/livro.png" alt="" class="img-livro">
            <h3>Os hábitos secretos dos gênios: Aprenda a identificar e lapidar suas habilidades</h3>

            <div class="buttons">
                <button type="button" class="btn btn-warning">editar</button>
                <button type="button" class="btn btn-danger">remover</button>
                <button type="button" class="btn btn-primary">emprestar</button>
            </div>
        </div>

        <div class="livro-card">
            
            <img src="assets/img/livro.png" alt="" class="img-livro">
            <h3>Os hábitos</h3>
            
            <div class="buttons">
                <button type="button" class="btn btn-warning">editar</button>
                <button type="button" class="btn btn-danger">remover</button>
                <button type="button" class="btn btn-primary">emprestar</button>
            </div>
        </div>

        <div class="livro-card">
            
        </div>

        <div class="livro-card">
            
        </div>

        <div class="livro-card">
            
        </div>

        <div class="livro-card">
            
        </div>

        <div class="livro-card">
            
        </div>

        <div class="livro-card">
            
        </div>

        <div class="livro-card">
            
        </div>

        <div class="livro-card">
            
        </div>
    -->
</div>
