 <div class="container">

    <button type="button"class="btn btn-info ml-4" (click)="salvar()">salvar</button>
    <div class="estrutura">
       
        <div class="livro text-center" *ngFor="let Livro of livro | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
            <div class="img-livro">
                <img src="assets/img/book.png" class="rounded"alt="">
            </div>
            
            <div class="titulo">            
                <h3>{{ Livro.titulo }}</h3> 
            </div>     
            
            <div class="buttons">
                <button class="btn btn-warning btn-sm" routerLink="/updatebook/{{ Livro.id }}">editar</button>
                <button class="btn btn-danger btn-sm">remover</button>
                <button class="btn btn-primary btn-sm">emprestar</button>
            </div>

        </div>

    </div>
    
    <div class="text-center paginacao">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
 </div>

 <!-- tentar alinhar com bootstrap 4 
      alinhamento feito inclusive responsivel,arrumar botoes e arrumar pagination para sempre ficar em baixo
      alinhamento feito
      mecher na resposividade abaixando a imagem ok
      arrumar o header    
    -->

    <!--
        aprendi a alinhar elementos dentro da div e fora
        dentro: colocar display flex e align itemns
        fora: flex direction,justify,flex-flow
    -->
