<div class="container">
    
    <div class="changePassword mt-5">
        
        <form >
            <label for="oldPassword">senha antiga</label>
            <input type="password" class="form-control" [(ngModel)]="oldPassword" name="oldPassword" required>

            <label for="newPassword">nova senha</label>
            <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword">

            <label for="confirmPassword">confirmar senha</label>
            <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword">

            <button type="submit" class="btn btn-info mt-3" (click)="changePassword()" *ngIf="confirmPasswordMethod() ; else differentPassword">alternar senha</button>                 
        </form>

        <ng-template #differentPassword >
            <p class="text-danger">senhas diferentes</p>
          </ng-template>
    </div>
</div>
