<div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom">
        <h2>alterar senha</h2>
    </div>
    
    <div class="changePassword mt-5">
    
        <form >
            <label for="oldPassword">senha antiga</label>
            <input type="password" class="form-control" [(ngModel)]="oldPassword" name="oldPassword" required>

            <label for="newPassword">nova senha</label>
            <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword">

            <label for="confirmPassword">confirmar senha</label>
            <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword">

            <button type="submit" class="btn btn-dark mt-3 mr-2" (click)="changePassword()" *ngIf="confirmPasswordMethod() ; else differentPassword">alterar senha</button>                 
            <button type="submit" class="btn btn-danger mt-3" routerLink="/home">cancelar</button>                 

        </form>

        <ng-template #differentPassword >
            <p class="text-danger">senhas diferentes</p>
          </ng-template>
    </div>
</div>
