.changePassword{
    margin: auto;
    max-width: 400px;
}

input.form-control{
    background-color: #0c0c0cb4;
    border-color: #42484e;
    color:white
}

.btn-danger{
    background-color: rgba(216, 25, 25, 0.738);
}

.btn-danger:hover{
    background-color: rgba(91, 26, 26, 0.738);
}