<div class="container">
  <div class="pb-2 mt-4 mb-4 border-bottom">
    <h2>Emprestar livro</h2>
</div>
     <div class="row">
        <div class="col-sm-6">

               <form [formGroup]="loanForm" (ngSubmit)="submitForm()">
               
                   <div class="form-group">
                     <label for="startOfTheLoan">data do emprestimo</label>
                     <input type="date" class="form-control" formControlName="startOfTheLoan" [ngClass]="{'is-invalid': loanForm.get('startOfTheLoan')?.hasError('required') && submitted}">
                   </div>
       
                   <div class="form-group">
                     <label for="titulo">data da devolução</label>
                     <input type="date" class="form-control" formControlName="endOfLoan" [ngClass]="{'is-invalid': loanForm.get('startOfTheLoan')?.hasError('required') && submitted}">
                   </div>
 
                   <div class="form-group">
                     <label for="titulo">emprestar para</label>
                     <input type="text" class="form-control" formControlName="addressee" [ngClass]="{'is-invalid': loanForm.get('startOfTheLoan')?.hasError('required') && submitted}">
                   </div>
       
                   <button type="submit" class="btn button_blue" (click)="submitted = true">salvar</button>
                   <button  style="display:none" data-dismiss="modal" #button >salvar</button>
                  
               </form>
 
         </div>
    </div>
</div>
