<div class="container">
  <div class="pb-2 mt-4 mb-4 border-bottom">
    <h2>Emprestar livro</h2>
</div>
     <div class="row">
        <div class="col-sm-6">

               <form>
               
                   <div class="form-group">
                     <label for="startOfTheLoan">data do emprestimo</label>
                     <input type="date" class="form-control" [(ngModel)]="loan.startOfTheLoan" name="startOfTheLoan">
                   </div>
       
                   <div class="form-group">
                     <label for="titulo">data da devolução</label>
                     <input type="date" class="form-control" [(ngModel)]="loan.endOfLoan" name="endOfLoan">
                   </div>
 
                   <div class="form-group">
                     <label for="titulo">emprestar para</label>
                     <input type="text" class="form-control" [(ngModel)]="loan.addressee" name="addressee">
                   </div>
       
                   <button type="submit" class="btn button_blue" (click)="saveLoan()" data-dismiss="modal">salvar</button>
                  
               </form>
 
         </div>
    </div>
</div>
