<div class="container-fluid mb-2">

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="/home" style="color:white"> GBoo<span style="color:darkgrey">ks</span>Library</a>
        <button class="navbar-toggler" style="color:white"type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <fa-icon [icon]="['fas','bars']"></fa-icon>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarHeader">
          
          <ul class="navbar-nav m-auto" *ngIf="showMenu">
            <app-search-book *ngIf="isPaginaEspecificaRoute()" class="configSearch"></app-search-book>
          </ul>

          <ul class="navbar-nav ml-auto"*ngIf="!showMenu">
            
            <li class="nav-item">
              <a href="https://github.com/guilhermewt/frontend-gerenciador-de-livros-pessoais" class="nav-link text-white">
                 <i ><img src="assets/img/gitImage.png"style="width:30px;height:25px;" ></i>GitHub Project
             </a>
            </li>
           
            <li class="nav-item">
              <a href="https://github.com/guilhermewt" class="nav-link text-white">Desenvolvedor</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto" *ngIf="showMenu">
            <li class="nav-item">
              <a href="" class="nav-link text-white" data-toggle="modal" data-target="#showDashboard-book">Estatisticas</a>
            </li>
          </ul>
      
          <div class="dropdown btn-group " style="border-radius: 50%;" *ngIf="showMenu">
            <button class="btn bg-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
              <fa-icon [icon]="['fas','user']"></fa-icon>
            </button>
            <ul class="dropdown-menu " [ngClass]="{'dropdown-menu-right': isLarguraMaiorQue991}"aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="/change/password">redefinir senha</a></li>
              <li><a class="dropdown-item" href="#" routerLink="/login">sair</a></li>
            </ul>
          </div>
        
        </div>
      </nav>

</div>

 <form class="modal fade" id="showDashboard-book" ngbModal>
    <div class="modal-dialog">
      <div class="modal-content style-modal">
        
        <!-- cabecalho -->
        <div class="modal-header"> 
          <button type="button" class="close" style="color:white" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>

        <!-- corpo -->
        <div class="modal-body"> 
         <app-dashboard-book></app-dashboard-book>
        </div>

      </div>
    </div>

 </form>
