.container-fluid{
    /* border: 1px solid red;  */
    justify-content: center;
}
/* 
.estrutura{   
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
        
} */

.img-logo{
    width: 80px;
    height: 70px;
}

nav.navbar.navbar-expand-lg{
    margin-bottom: 10px;
    /*background-image: radial-gradient(circle at -9.41% 22.3%, #6b7267 0, 
    #5b5a5d 16.67%, #474353 33.33%, #2e2c4a 50%, #081841 66.67%, #00003a 83.33%, #000034 100%);*/
    background-color: #373737;
}
.iconConfig{
    border-radius: 50;
}