<div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom">
        <h2>cadastrar livro</h2>
    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <form>
            
            <div class="form-group">
                <label for="titulo">titulo</label>
                <input type="text" class="form-control" [(ngModel)]="book.title" name="title">
            </div>

            <div class="form-group mb-1">
                <label for="author">author</label>
                <input type="text" class="form-control" [(ngModel)]="book.authors[0]" name="authors">
                <button type="submit" class="btn btn-dark mb-1" (click)="searchBookInApi()" data-toggle="modal" data-target="#janela">Buscar</button>
            </div>

            <div class="form-group col-4 col-sm-4 pl-0">
              <label for="status" class="mb-0">status</label>
              <select [(ngModel)]="book.status" name="status"  class="form-control">
                  <option  *ngFor="let statusBook of statusBook" [ngValue]="statusBook">{{ statusBook }}</option>
              </select>
          </div>
            
            <button type="submit" class="btn btn-dark" (click)="save()">salvar</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">cancelar</button>
           
        </form>
  
    </div>

    <div class="col-sm-6" *ngIf="title != ''">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 ">
            <img src="{{book.imageLinks.thumbnail}}" class="ml-4" alt="...">
            <h5 class="card-title mt-2 ml-4"[innerText]="author" ></h5>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" [innerText]="title"></h5>
              <p class="card-text" style="overflow: auto; height:200px" [innerText]="description"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
   


    <!--modal-->
    <form class="modal fade" id="janela" >
        <div class="modal-dialog modal-sm">
          <div class="modal-content" style="background-color: black;">
            
            <!-- cabecalho -->
            <div class="modal-header"> 
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
             
            </div>

            <!-- corpo -->
            <div class="modal-body"> 
                <div class="estrutura">
       
                    <div class="book text-center mb-3" *ngFor="let book of bookSearch" data-dismiss="modal" (click)="selectBook(book.id)">

                            <div class="card">
                                <img src="{{book.volumeInfo.imageLinks.thumbnail}}"  class="m-auto" alt="...">
                                <div class="card-body">
                                <p class="card-title mb-1 mt-1">{{ book.volumeInfo.title }}</p>
                                <p class="card-text mb-1 reduceText">{{book.volumeInfo.description}}</p>
                                <button type="submit" class="btn btn-dark mt-1" data-dismiss="modal" (click)="selectBook(book.id)">selecionar</button>
                                </div>
                            </div>
                      
                    </div>
                </div>
            </div>

          
          </div>
        </div>

      </form>   