button{
    margin:10px 10px 10px 0px;
}

.card{
    background-color: #0c0c0ce8;
    font-size: 12px;
    display: block;
    color: #fff;
}

.card-title{
    font-size: 15px;
}

.card-body{
    padding: 0;
}

.reduceText{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

input.form-control{
    background-color: #0c0c0cb4;
    border-color: #42484e;
    color:white
}

.btn-danger{
    background-color: rgba(216, 25, 25, 0.738);
}

.btn-danger:hover{
    background-color: rgba(91, 26, 26, 0.738);
}

.my_input{
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #737f8b;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select.form-control{
    background-color: #0c0c0cb4;
    border-color: #42484e;
    color:white  
}