/*===============geral=================*/
.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*max-width: 400px;  A largura máxima que você deseja permitir */
  }

  .card-body{
    min-height: 310px!important;
    padding: 0px!important;
  }

.container-fluid{
    height: auto;
    padding: 0;
}

.estrutura{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    background-color: rgba(2, 2, 2, 0.664);
}


.livro{
    width: 138px;
    min-height: 310px;
    margin: 5px 0px 0px 10px;
    box-sizing: border-box;
    color:white;
}

.buttonSave{
	background-color:#0B0E11;
}

.emptyBookConfig{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    background-color: rgba(2, 2, 2, 0.664);
    height:200px;
    align-items: center;
}

 .filterBooks > button{
    margin-right: 20px;
 }

 .form-control{
    width: auto;
    display: inline;
    margin-right: 5px;
 }

.my_input{
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #737f8b;
    background-color: black;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.bg-dark{
    background-color: #060101be !important;
}

.btn{
    color:white;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item{
   color: white;
}

.dropdown-item:hover{
   color: white;
   background-color: rgb(44, 42, 42);
}

.config-filter{
    display: flex;
    flex-direction: column;
}

.showButtonConfig > button{
    width:300px
}

.card{
    background-color: #0202029f!important;
    padding: 0px!important;
}



/*===========livro card==============*/

.img-livro > img{
     width:138px!important;
     height:190px;
     height:190px;
}


.titulo{
    max-width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.buttons {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.buttons > button{
    margin-bottom: 10px;
    color:white;
    margin-top: 10px;
}

.button_black{
    background-color: black;
    display: block!important;
}

.button_red{
    background-color: rgba(85, 24, 24, 0.9);
}

.button_blue{
    background-color: #7B6D44;
}

.style-modal{
    background-color: #0c0c0ce8;
    color: #fff;
}

/*=========paginacao=========*/

.paginacao{
    margin: 20px;
}

/*=======tipografia=======*/
.livro h3{
    margin: 0px;
    font-size: 14px;
} 



 /* @media screen and (max-width:350px){
  
    .showButtonConfig > button{
        width:150px
    }
    
}  */

.showButtonConfig > button{
    margin-top: 5px;
    margin-bottom: 5px;
}



@media screen and (min-width:991px){
    .showButtonConfig{
        display: none;
    }

    .showSearch{
        display:none;
    }
}

@media screen and (min-width:770px){
  
    .showButtonConfig > button{
        width: 500px;
    }

} 

@media screen and (max-width:350px){
  
    .showButtonConfig > button{
        width: 200px;
    }

} 

@media screen and (max-width:260px){
  
    .showButtonConfig > button{
        width: 150px;
    }

} 

@media screen and (max-width:300px){
    .paginacao{
        font-size: 10px;
    }

}
