 <div class="container-fluid">
      <div class="config-filter">
        <app-search-book class="m-auto showSearch"></app-search-book>

        <div class="showButtonConfig m-auto">
            <button type="button"class="btn buttonSave mb-1 btn-block" routerLink="/create">
                <span>
                    <i><fa-icon [icon]="['fas','add']" class="mr-1"></fa-icon></i>
                    Adicionar
                </span>
            </button>
        </div>
        
        <app-book-filter></app-book-filter>
      </div>
    
     
    <div *ngIf="bookToShow && bookToShow.length > 0; else bookNotFound" class="estrutura mt-2">
       
        <div class="livro text-center" 
             *ngFor="let Livro of bookToShow | paginate: { itemsPerPage: itemsPerPage, 
             currentPage: page,totalItems: totalItems}"
             data-toggle="modal" data-target="#showBook" >
            
            <div class="card col-12" (click)="Livro.id !== undefined && changeIdBookShow(Livro.id)">
              <div class="card-body img-livro">
                <img src="{{Livro.imageLink}}" *ngIf="Livro.imageLink != '#' else imageNotFound" class="card-img-top" alt="...">
               
                <ng-template #imageNotFound >
                  <div class="imageBookNotFound">
                      <h6 >{{Livro.title}}</h6>
                  </div>
                </ng-template>

                <h6 class="card-title ">{{ Livro.title | slice:0:32 }}{{ Livro.title.length > 32 ? '...' : '' }}</h6>
                <!-- <h6 class="card-subtitle text-muted mb-1">{{ Livro.genrers[0].name }}</h6> -->
                <h6 class="card-subtitle text-muted mb-1">{{ Livro.authors | slice:0:17 }}{{ Livro.title.length > 17 ? '...' : '' }}</h6>
                <h6 class="card-subtitle">{{ Livro.statusBook }}</h6>
              </div>
            </div>
            
        </div>
        <button *ngIf="showScrollButton" (click)="scrollToTop()" class="scroll-to-top">
          <fa-icon [icon]="['fas','arrow-circle-up']" class="mr-1"></fa-icon>
        </button>
    </div>

    <ng-template #bookNotFound >
      <div class="emptyBookConfig mt-3" *ngIf="isEmpty == false">
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="emptyBookConfig mt-3" *ngIf="isEmpty">
          <h3 >Nenhum Livro Encontrado</h3>
       </div>

    </ng-template>

    <app-book-pagination *ngIf="bookToShow && bookToShow.length > 0"></app-book-pagination>

   

 </div>

 <form class="modal fade" id="showBook" ngbModal>
    <div class="modal-dialog">
      <div class="modal-content style-modal">
        
        <!-- cabecalho -->
        <div class="modal-header"> 
          <button type="button" class="close" style="color:white" data-dismiss="modal" (click)="changeIdBookShow(-1)">
            <span>&times;</span>
          </button>
        </div>

        <!-- corpo -->
        <div class="modal-body"> 
         <app-book-show></app-book-show>
        </div>

      </div>
    </div>

 </form>
