<div class="container">

   <div class="pb-2 mt-4 mb-4 border-bottom">
      <h2>Emprestimo do livro</h2>
  </div>

   <button type="button" class="btn button_blue mb-2" routerLink="/home">voltar</button>
    <div class="row">
      
      <div class="col-sm-6" *ngIf="book">
         <div class="card mb-3 pt-2" style="max-width: 540px;">
           <div class="row">
             <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 text-center">
              <img src="{{book.imageLink}}" *ngIf="book.imageLink != '#' else imageNotFound" alt="...">
               
              <ng-template #imageNotFound >
                <div class="imageBookNotFound m-auto">
                    <h4 >{{book.title}}</h4>
                </div>
              </ng-template>
             </div>
             
             <div class="col-sm-6 col-md-6 col-lg-6 col-xl-8">
               <div class="card-body">
                 <h5 class="card-title" [innerText]="book.title"></h5>
                 <p class="card-text" style="overflow: auto;" [innerText]="book.description"></p>
                 <h5 class="card-title"[innerText]="book.authors" ></h5>
                 <h6 [innerText]="book.statusBook"></h6>
                </div>
             </div>
           
           </div>
         </div>
       </div>

        <div class="col-sm-6" *ngIf="book" ngFor="let loan of loan" ngFor="let book of book" style="text-align: center;">

           <div *ngIf="book.statusBook == 'EMPRESTADO'">
              <h3>emprestimo</h3>
              <p>data do emprestimo: {{loan.startOfTheLoan | date}}</p>
              <p>data da devolução:{{loan.endOfLoan | date}}</p>
              <p>emprestado para: {{loan.addressee}}</p>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#update-status-book">Deletar Empréstimo</button>
           </div>

           <div *ngIf="book.statusBook != 'EMPRESTADO'">
            <h3>emprestar livro</h3>
            <button type="button" class="btn button_blue" data-toggle="modal" data-target="#loan-create">emprestar</button>
           </div>

        </div>

        <form class="modal fade" id="loan-create" ngbModal>
          <div class="modal-dialog">
            <div class="modal-content style-modal">
              
              <div class="modal-header"> 
                <button type="button" class="close" style="color:white" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
  
              <div class="modal-body"> 
               <app-loan-create></app-loan-create>
              </div>
  
            </div>
          </div>
  
        </form>

        <form class="modal fade" id="update-status-book" ngbModal>
          <div class="modal-dialog">
            <div class="modal-content style-modal">
              
              

              <div class="modal-header"> 
                <h4 class="modal-title">Atualize o status do livro</h4>
                <button type="button" class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
               
              </div>
  
              <div class="modal-body"> 
                <div class="form-group pl-0 text-center">
                  <label for="status" class="mb-0">status</label>
                  <select [(ngModel)]="statusToUpdateBook" name="statusToUpdateBook"  class="form-control">
                      <option  *ngFor="let statusBook of statusBook" [ngValue]="statusBook">{{ statusBook }}</option>
                  </select>
                  
                  <button type="button" class="btn btn-danger mt-1" (click)="deleteLoan()" data-dismiss="modal">Deletar</button>
                 
                </div>
              </div>
  
            </div>
          </div>
  
        </form>

    </div>
