<div class="container">
   <button type="button" class="btn btn-primary" routerLink="/">voltar</button>
    <div class="row">
      
        <div class="col-sm-6" style="border: 1px solid blue;" ngFor="let book of book">
          <div style="border: 1px solid red; text-align: center;" >
           
           <h3>{{book.titulo}}</h3>
            <p>ano da publicação: 21/01/2023</p>
            <p>status: {{book.status}}</p>
          </div>  
        </div>

        <div class="col-sm-6" ngFor="let loan of loan" ngFor="let book of book" style="border: 1px solid red; text-align: center;">

           <div *ngIf="book.status == 'emprestado'">
              <h3>emprestimo</h3>
              <p>data do emprestimo: {{loan.startOfTheLoan}}</p>
              <p>data da devolução do emprestimo:{{loan.endOfTheLoan}}</p>
              <p>emprestado para: {{loan.lendBookTo}}</p>
           </div>

           <div *ngIf="book.status != 'emprestado'">
            <h3>emprestar livro</h3>
            <button type="submit" class="btn btn-primary" routerLink="/loan-create/{{book.id}}">emprestar</button>
           </div>

        </div>

    </div>
