button{
    margin:10px 10px 10px 0px;
}

.card{
    background-color: #0c0c0ce8;
    font-size: 12px;
    display: block;
    color: #fff;
}

.card-title{
    font-size: 15px;
}

.card-body{
    padding: 0;
}

input.form-control{
    background-color: #0c0c0cb4;
    border-color: #42484e;
    color:white
}

.btn-danger{
    background-color: rgba(216, 25, 25, 0.738);
}

.btn-danger:hover{
    background-color: rgba(91, 26, 26, 0.738);
}

select.form-control{
    background-color: #0c0c0cb4;
    border-color: #42484e;
    color:white  
}

.button-config{
    max-width: 200px;
}