<div class="container">
    <div class="pb-2 mt-4 mb-4 border-bottom">
        <h2>atualizar livro</h2>
    </div>
    
    <div class="col-sm-6">
        <form>
            
            <div class="form-group">
                <label for="titulo">titulo</label>
                <input type="text" class="form-control" [(ngModel)]="livro.title" name="title">
            </div>
           
            <div class="form-group">
                <select [(ngModel)]="livro.status" name="status">
                    <option  *ngFor="let statusBook of statusBook" [ngValue]="statusBook">{{ statusBook }}</option>
                </select>
            </div>
            
            <button type="submit" class="btn btn-primary" (click)="update()">atualizar</button>
            <button type="button" class="btn btn-danger" (click)="cancel()">cancelar</button>
        </form>
    </div>
</div>

<!-- 
                select sem classe
                <div class="form-group">
                <select [(ngModel)]="livro.status" name="status">
                    <option value="ler">ler</option>
                    <option value="lido">lido</option>
                </select>
            </div> 
        
                select com classe
                <div class="form-group">
                    <select [(ngModel)]="livro.status" name="status">
                        <option  *ngFor="let livroparatest of livro2" [ngValue]="livroparatest.titulo">{{ livroparatest.titulo }}</option>
                    </select>
                </div>            
        -->

<!-- colocamos status no backend,e no layout
      arrumar logica para que quando editar poder alterar o status
      pensar em como vamos vazer a logica para emprestar
      fizemos a logica do select, falta criar uma class de string para ficar o status do livro status:status[] = ['lido','ler']
    -->
